<div class="container mangnus-grid">
    <div class="row mangnus-grid-row bg-primary">
        <div class="col-xs mangnus-grid-cell" ng-repeat="header in magnusGrid.$$columns">
            <div class="{{header.headerCellClass}}">{{header.label}}</div>
        </div>
    </div>
    <div class="row mangnus-grid-row" ng-repeat="row in magnusGrid.$$rows">
        <div class="col-xs mangnus-grid-cell" ng-repeat="column in magnusGrid.$$columns">
            <div ng-if="row[column.field]" class="{{column.cellClass}}">{{row[column.field]}}</div>
        </div>
    </div>
</div>
