<div class="container sk-grid">
    <div class="row sk-grid-row bg-primary">
        <div class="col-xs sk-grid-cell" ng-repeat="header in skGrid.$$columns">
            <div class="{{header.headerCellClass}}">{{header.label}}</div>
        </div>
    </div>
    <div class="row sk-grid-row" ng-repeat="row in skGrid.$$rows">
        <div class="col-xs sk-grid-cell" ng-repeat="column in skGrid.$$columns">
            <div ng-if="row[column.field]" class="{{column.cellClass}}">{{row[column.field]}}</div>
        </div>
    </div>
</div>
