<div class="container-fluid sk-grid">
    <div class="row sk-grid-row sk-grid-header-row">
        <div class="sk-grid-cell sk-grid-selection-cell" ng-if="skGrid.selection">
            <div class="{{header.headerCellClass}}">
                <input style="vertical-align: text-bottom;" type="checkbox" ng-model="skGrid.$$selectAll" ng-click="selectAllRows()">
            </div>
        </div>
        <div class="col-xs sk-grid-cell" ng-repeat="header in skGrid.$$columns">
            <div class="{{header.headerCellClass}} {{header.edit?'editable-column-identifier':''}}">{{header.label}}</div>
        </div>
    </div>
    <div class="row sk-grid-row sk-grid-data-row {{row.$$selected?'selected':''}}" ng-repeat="(rowIdx, row) in skGrid.$$rows">
        <div class="sk-grid-cell sk-grid-selection-cell" ng-if="skGrid.selection">
            <input style="vertical-align: text-bottom;" ng-if="checkRowSelectable(row)" type="checkbox" ng-model="row.$$selected" ng-click="checkSelectAll()">
        </div>
        <div class="col-xs sk-grid-cell" ng-repeat="(colIdx, column) in skGrid.$$columns">
            <div ng-if="checkCellDisplayCondition(rowIdx, colIdx)">
                <div sk-grid-cell column="column" row="row"></div>
            </div>
        </div>
    </div>
</div>