.sk-grid {
    font-size: 12px;
}

.sk-grid .sk-grid-row .sk-grid-selection-cell{
    float: left;
    width: 24px;
    padding-left: 5px;
    padding-right: 5px;
}

.sk-grid .sk-grid-row .sk-grid-cell{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    padding-left: 5px;
    padding-right: 5px;
}

.sk-grid .sk-grid-row .sk-grid-cell:last-child{
    border-right: 1px solid gray;
}

.sk-grid .sk-grid-row:last-child .sk-grid-cell {
    border-bottom: 1px solid gray;
}

.sk-grid .sk-grid-header-row{
    background-color: #666;
    color: #FFF;
}
.sk-grid .sk-grid-header-row .editable-column-identifier{
    color: #ffff96;
}
.sk-grid .sk-grid-header-row .editable-column-identifier:after{
    /*content: " *";*/
}

.sk-grid .sk-grid-data-row:nth-child(odd){
    background-color: #EEE;
}
.sk-grid .sk-grid-data-row.selected{
    background-color: rgba(19, 197, 255, 0.21);
}

.sk-grid .sk-grid-data-row .sk-grid-cell{
    min-height: 20px;
    max-height: 20px;
    overflow: hidden;
}

.sk-grid .sk-grid-data-row .sk-grid-cell div{
    min-height: inherit;
}
.sk-grid .sk-grid-data-row .sk-grid-cell .editable{
    cursor: pointer;
}

.sk-grid .sk-grid-data-row .sk-grid-cell input,
.sk-grid .sk-grid-data-row .sk-grid-cell select,
.sk-grid .sk-grid-data-row .sk-grid-cell textarea{
    width: 100%;
    border: none;
    background-color: #ffff96;
}


